body {
    background: black;
}

.outer-frame {
    border: 2px solid #0078FF;
    background: #ffffff;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    margin-top: 75px;
    border-radius: 10px;
}

.links {
    /* border: 1px solid black; */
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a {
    /* border: 1px solid yellow; */
    color: #0078FF;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover {
    color: hotpink;
  }